.modal-shadow {
  width: 100%;
  height: 100%;
}

.modal-content {
  position: absolute;
  top: 22px;
  left: 22px;
  right: 22px;
  bottom: 22px;
  background-color: $white;
  text-align: center;
  box-sizing: border-box;
  padding: 40px;
  .modal-title {
    font-size: 28px;
    font-weight: bold;
    margin-top: 30px;
  }
  .modal-msg {
    margin-top: 30px;
    font-size: 18px;
    line-height: 22px;
  }
  .modal-content-icon {
    width: 80px;
    display: inline-block;
    margin-top: 100px;
  }
  .btn-big {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    text-transform: uppercase;
  }
  .modal-close {
    margin-top: 70px;
  }
}