.navbar {
  background-color: $white;
  .navbar-inner {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding-left: 8px;
    padding-right: 8px;
    a:active {
      background: $bodyColor;
    }
    .left, .center, .right {
      display: flex;
      align-items: center;
      width: 33.3333%;
    }
    .left {
      justify-content: flex-start;
    }
    .center {
      justify-content: center;
    }
    .right {
      justify-content: flex-end;
    }
  }
}
.navbar__title {
  font-size: 18px;
  text-shadow: 0 0 1px #ccc;
  margin-top: 4px;
}