.page-content {
  background-color: $white;
  position: absolute;
  overflow: auto;
  height: calc(100% - 200px);
  width: 100%;
}
.content-list {
  background-color: $white;
  .content-item {
    height: 78px;
    border-bottom: 1px solid $grey;
    a {
      display: block;
      height: 100%;
    }
    .content-item__icon {
      width: 40px;
      height: 40px;
    }
    .content-item__info-icon {
      width: 15px;
      height: 15px;
      margin-left: 10px;
      cursor: pointer;
    }

    .content-item-inner {
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;
      .content-item__title {
        font-size: 18px;
        text-shadow: 0 0 1px #ccc;
        margin-top: 3px;
        margin-left: 12px;
      }
    }
  }
}
.content-list-title {
  display: flex;
  align-items: center;
  height: 78px;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: bold;
}
.content-item__btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 2;
  label {
    cursor: pointer;
  }
}
.content-item__btn-trash {
  cursor: pointer;
}
.content-item__btn-trash-icon {
  height: 30px;
}