.page-header {
  background: #212934;
  height: 100px;
}
.page-header-inner {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.page-header__icon {
  height: 60px;
}
.page-header__title {
  color: $white;
  font-size: 20px;
  margin-top: 3px;
  margin-left: 14px;
}