.settings-index {
  .page-content {
    height: calc(100% - 100px) !important;
  }
}

.settings-users-new-index {
  .page-content {
    height: calc(100% - 150px) !important;
  }
}

.settings-users-profile {
  .page-content {
    height: calc(100% - 150px) !important;
  }
  .user-edit-form .form-block {
    margin-bottom: 0;
  }
  .form-btn .save {
    width: 100px;
  }
}