.tools-bar {
  height: 50px;
  background-color: $grey;
}

.tools-bar-inner {
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.tools-bar__btns {
  height: 100%;
  display: flex;
  align-items: center;
}
.tools-bar__btn img {
  height: 35px;
}