@import "reset";
@import "variables";
@import "base";
@import "inputs";
@import "icons";
@import "navigation-menu";
@import "page-header";
@import "tools-bar";
@import "page-content";
@import "modal";

@import "components";

@import "pages";


body {
  background: $bodyColor;
}

.default-liquid-destination {
  z-index: -9999;
}
.default-liquid-destination.has-wormholes {
  z-index: 9999;
}
.liquid-wormhole-element {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.liquid-container, .liquid-child {
  height: 100%;
}
.marvel-app {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.page-wrapper {
  min-height: 100%;
  width: 100%;
}
