<form>
  <div class="form-block">
    <div class="form-group">
      <label for="formFirstNameInput">First Name</label>
      <!--<input type="text" class="form-control" id="formFirstNameInput">-->
      {{input value=firstName class="form-control" id="formFirstNameInput"}}
    </div>
    <div class="form-group">
      <label for="formLastNameInput">Last Name</label>
      <!--<input type="text" class="form-control" id="formLastNameInput">-->
      {{input value=lastName class="form-control" id="formLastNameInput"}}
    </div>
    <div class="form-group">
      <label for="formEmailInput">Email</label>
      <!--<input type="text" class="form-control" id="formEmailInput">-->
      {{input value=email class="form-control" disabled=profile id="formEmailInput"}}
    </div>
  </div>

  {{#if profile}}
    <div class="form-btn">
      <button class="btn-big btn-blue" {{action "resetPswd"}}>Reset Password</button>
    </div>
  {{/if}}

  <div class="permissions">
    <div class="permissions-inner">

      <div class="content-list-title">
        Permissions
      </div>

      <div class="content-list">
        <ul>
          <li class="content-item ">
            <div class="content-item-inner">
              <img src="/icons/executive-icon.svg" class="content-item__icon" alt="">
              <span class="content-item__title">Executive</span>
              <img src="/icons/info-badge.svg" class="content-item__info-icon" alt="" title="INFORMATION!!">
              <div class="content-item__btns">
                <label>
                  {{input type="checkbox" checked=executive class="ios-switch bigswitch"}}
                  <div>
                    <div></div>
                  </div>
                </label>
              </div>
            </div>
          </li>
          <li class="content-item settings-page__list-item">
            <div class="content-item-inner">
              <img src="/icons/crm-icon.svg" class="content-item__icon" alt="">
              <span class="content-item__title">CRM</span>
              <div class="content-item__btns">
                <label>
                  {{input type="checkbox" checked=crm class="ios-switch bigswitch"}}
                  <div>
                    <div></div>
                  </div>
                </label>
              </div>
            </div>
          </li>
          <li class="content-item settings-page__list-item">
            <div class="content-item-inner">
              <img src="/icons/marketing-icon.svg" class="content-item__icon" alt="">
              <span class="content-item__title">Marketing</span>
              <div class="content-item__btns">
                <label>
                  {{input type="checkbox" checked=marketing class="ios-switch bigswitch"}}
                  <div>
                    <div></div>
                  </div>
                </label>
              </div>
            </div>
          </li>
          <li class="content-item settings-page__list-item">
            <div class="content-item-inner">
              <img src="/icons/compliance-icon.svg" class="content-item__icon" alt="">
              <span class="content-item__title">Compliance</span>
              <div class="content-item__btns">
                <label>
                  {{input type="checkbox" checked=compliance class="ios-switch bigswitch"}}
                  <div>
                    <div></div>
                  </div>
                </label>
              </div>
            </div>
          </li>
          <li class="content-item settings-page__list-item">
            <div class="content-item-inner">
              <img src="/icons/risk-icon.svg" class="content-item__icon" alt="">
              <span class="content-item__title">Risk</span>
              <div class="content-item__btns">
                <label>
                  {{input type="checkbox" checked=risk class="ios-switch bigswitch"}}
                  <div>
                    <div></div>
                  </div>
                </label>
              </div>
            </div>
          </li>
          <li class="content-item settings-page__list-item">
            <div class="content-item-inner">
              <img src="/icons/reporting-icon.svg" class="content-item__icon" alt="">
              <span class="content-item__title">Reporting</span>
              <div class="content-item__btns">
                <label>
                  {{input type="checkbox" checked=reporting class="ios-switch bigswitch"}}
                  <div>
                    <div></div>
                  </div>
                </label>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="form-btn">
        {{#if profile}}
          <button class="btn-big btn-blue save" {{action "update"}}>Save</button>
        {{else}}
          <button class="btn-big btn-blue" {{action "create"}}>Send Invite</button>
        {{/if}}
      </div>
    </div>
  </div>
</form>