<div class="page-wrapper settings-index">
  <!-- Top Navbar-->
  {{navigation-menu}}
  <div class="tools-bar">

  </div>
  <div class="page-content">
    {{list-block}}
    <div class="content-list settings-page__list">
      <ul>
        <li class="content-item settings-page__list-item">
          <a href="#">
            <div class="content-item-inner">
              <img src="/icons/branding-icon.svg" class="content-item__icon" alt="">
              <span class="content-item__title">Branding</span>
            </div>
          </a>
        </li>
        <li class="content-item settings-page__list-item">
          <a href="#">
            <div class="content-item-inner">
              <img src="/icons/offerings-icon.svg" class="content-item__icon" alt="">
              <span class="content-item__title">Offerings</span>
            </div>
          </a>
        </li>
        <li class="content-item settings-page__list-item">
          <a href="#">
            <div class="content-item-inner">
              <img src="/icons/sales-teams-icon.svg" class="content-item__icon" alt="">
              <span class="content-item__title">Sales Teams</span>
            </div>
          </a>
        </li>
        <li class="content-item settings-page__list-item">
          {{#link-to 'settings.users'}}
            <div class="content-item-inner">
              <img src="/icons/users-icon.svg" class="content-item__icon" alt="">
              <span class="content-item__title">Users</span>
            </div>
          {{/link-to}}
        </li>
      </ul>
    </div>
  </div>
</div>


