.user-edit-form {
  .form-block {
    margin-bottom: 30px;
  }
  .form-group {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    label {
      font-size: 14px;
      color: $fontColor3;
      padding-left: 18px;
    }
  }
  .form-control {
    display: block;
    box-sizing: border-box;
    background: #ccc;
    border: none;
    background: $bodyColor;
    width: 100%;
    height: 40px;
    color: $fontColor2;
    font-size: 18px;
    margin-top: 4px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .form-btn {
    width: 100%;
    padding: 50px 20px;
    box-sizing: border-box;
    text-align: center;
  }
  .btn-big.btn-blue {
    text-transform: uppercase;
    width: 100%;
    text-shadow: 0 0 1px #fff;
  }
}