<div class="page-wrapper settings-users-new-index">
  <!-- Top Navbar-->
  {{navigation-menu backRoute='settings.users'}}

  <div class="page-header">
    <div class="page-header-inner">
      <img src="/icons/user-icon.svg" class="page-header__icon" alt="">
      <h2 class="page-header__title">{{title}}</h2>
    </div>
  </div>

  <div class="page-content">
    {{user-edit-form submit=(route-action 'createUser')}}
  </div>
</div>