<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <a href="#" class="link icon-only">
        <img class="icon" src="/icons/bars.svg" alt="">
      </a>
      <div class="navbar__title">Settings</div>
    </div>
    <div class="center">
      <a href="#" class="link icon-only">
        <img class="icon" src="/icons/link.svg" alt="">
      </a>
    </div>
    <div class="right">
      {{#if visibleBackLink}}
        {{#link-to backRoute}}
          <img class="icon" src="/icons/arrow-left.svg" alt="">
        {{/link-to}}
      {{/if}}
    </div>
  </div>
</div>