<div class="page-wrapper">
  <!-- Top Navbar-->
  {{navigation-menu backRoute='settings'}}

  <div class="page-header">
    <div class="page-header-inner">
      <img src="/icons/users-icon.svg" class="page-header__icon" alt="">
      <h2 class="page-header__title">{{title}}</h2>
    </div>
  </div>

  <div class="tools-bar">
    <div class="tools-bar-inner">
      <div class="tools-bar__btns">
        <div class="tools-bar__btn">
          <img src="/icons/search-icon.svg" class="tools-bar__btn-search" alt="">
        </div>
        <div class="tools-bar__btn">
          <img src="/icons/filter-icon.svg" class="tools-bar__btn-filter" alt="">
        </div>
        <div class="tools-bar__btn">
          {{#link-to 'settings.users.new'}}
            <img src="/icons/add-icon.svg" class="tools-bar__btn-add" alt="">
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>

  <div class="page-content">
    <div class="content-list settings-page__list">
      <ul>
        {{#each model as |item|}}
          <li class="content-item settings-page__list-item">
            {{#link-to 'settings.users.profile' item.id}}
              <div class="content-item-inner">
                <img src="/icons/user-icon.svg" class="content-item__icon" alt="">
                <span class="content-item__title">{{item.firstName}}</span>
                <div class="content-item__btns">
                  <div class="content-item__btn-trash" {{action 'deleteUser' item  bubbles=false}}>
                    <img src="/icons/trash-icon.svg" class="content-item__btn-trash-icon" alt="">
                  </div>
                </div>
              </div>
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

