{{liquid-outlet}}

{{#if showModal}}
  {{#liquid-wormhole class="popup"}}
    <div class="modal-shadow"></div>
    <div class="modal-content">
      <img src="/icons/email-icon.svg" class="modal-content-icon" alt="">
      <div class="modal-title">{{modalTitle}}</div>
      <div class="modal-msg">{{modalMsg}}</div>
      <button class="btn-big btn-blue modal-close" {{action 'closeModal' modalType}}>Close</button>
    </div>
  {{/liquid-wormhole}}
{{/if}}